<!DOCTYPE html>
<HTML lang='en'>
  <HEAD>
    <TITLE>HBNB</TITLE>
  </HEAD>
  <BODY>
    {% if items is mapping %}
    <H1>States</H1>
    <UL>
      {% for item in items.values()|sort(attribute='name') %}
      <LI>{{ item.id }}: <B>{{ item.name }}</B></LI>
      {% endfor %}
    </UL>
    {% elif items is defined %}
    <H1>States: {{ items.name }}</H1>
    <H3>Cities:</H3>
    <UL>
      {% for item in items.cities|sort(attribute='name') %}
      <LI>{{ item.id }}: <B>{{ item.name }}</B></LI>
      {% endfor %}
    </UL>
    {% else %}
    <H1>Not found!</H1>
	  {% endif %}
  </BODY>
</HTML>
